* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    background: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 4px solid #f0705a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.header__title h2{
    color: #fff;
    font-size: 36px;
    text-align: center;
}

.rps-logo {
    width: 100px;
}

.header__github {
    display: flex;
    color: #fff;
    align-items: center;
}

.header__github-logo {
    font-size: 24px;
}

.header__github-link a{
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    transition: transform 0.3s ease; 
    display: inline-block;
}

.header__github-link a:hover {
    text-decoration: underline;
    transform: scale(1.2);
    color: #f0705a;
}

.wrapper {
    width: 100%;
    max-width: 800px;
    border-left: 4px solid black;
    border-right: 4px solid black;
    background: #414141;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    flex: 1;
}


.wrapper__main-game {
    color: #fff;
    /* border: 2px solid lime; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    /* height: 100%; */
    width: 100%;
}

.wrapper__outcome {
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    margin-bottom: 30px;
}

.wrapper__score-board {
    /* border: 2px solid #fff; */
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
}

.wrapper__you,
.wrapper__computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    width: 100%;
    /* border: 2px solid skyblue; */
    margin: 10px;
}

.wrapper__your-sign,
.wrapper__computer-sign {
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    margin-bottom: 30px;
}

.wrapper__sign-choice {
    /* border: 2px solid hotpink; */
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.wrapper__button-sign {
    background: #606060;
    height: 160px;
    width: 160px;
    border: 2px solid #f0705a; 
    border-radius: 20px;
    cursor: pointer;
    margin: 10px auto;
    transition: transform 0.3s ease;
}

img.wrapper__img-paper,
img.wrapper__img-rock,
img.wrapper__img-scissors {
    height: 160px;
    width: 100%;
    max-width: 160px;
}

img.wrapper__img-paper,
img.wrapper__img-rock {
    padding: 10px;
}

.wrapper__button-sign:hover {
    border: 3px solid #000;
    background: #adadad;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3);
    transform: scale(1.05)
}

.your-choice {
    background: rgb(114, 192, 114);
    height: 160px;
    width: 160px;
    border: 2px solid #fff;
    border-radius: 20px;
    /* margin: 10px auto; */
    /* transition: transform 0.3s ease; */
}

.comp-choice {
    background: rgb(192, 114, 114);
    height: 160px;
    width: 160px;
    border: 2px solid #fff;
    border-radius: 20px;
    /* margin: 10px auto; */
    /* transition: transform 0.3s ease; */
}

.won {
    transform: scale(1.1);
    box-shadow: 0 0 40px 10px #48cee0;
}

.lost {
    transform: scale(0.9);
    opacity: 0.4;
    border: 2px solid #000;
}

.endOfGamePopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.endOfGamePopup__inner {
    border: 4px solid #f0705a;
    max-width: 280px;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    background-color: #333333;
    padding: 20px 0 0;
}

#endOfGamePopup__closeButton {
    width: 100px;
    height: 30px;
    font-weight: 1000;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 20px 0;
}

.endOfGamePopup.active {
    opacity: 1;
    z-index: 999;
}

.outcome-highlight {
    text-shadow: 
    #48abe0 0 0 5px, 
    #48abe0 1px 1px 5px, 
    #48abe0 -1px -1px 5px;
}