* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    background: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 4px solid #f0705a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.header__title h2{
    color: #fff;
    font-size: 36px;
    text-align: center;
}

.rps-logo {
    width: 100px;
}

.header__github {
    display: flex;
    color: #fff;
    align-items: center;
}

.header__github-logo {
    font-size: 24px;
}

.header__github-link a{
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    transition: transform 0.3s ease; 
    display: inline-block;
}

.header__github-link a:hover {
    text-decoration: underline;
    transform: scale(1.2);
    color: #f0705a;
}

.wrapper {
    width: 100%;
    max-width: 800px;
    border-left: 4px solid black;
    border-right: 4px solid black;
    background: #414141;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}


.wrapper__main-game {
    color: #fff;
    border: 2px solid lime;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.wrapper__outcome {
    text-align: center;
    padding: 10px;
    font-size: 1.3rem;
}

.wrapper__score-board {
    border: 2px solid #fff;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
}

.wrapper__you,
.wrapper__opponent {
    max-width: 200px;
    width: 100%;
    border: 2px solid skyblue;
    margin: 10px;
}

.wrapper__sign-choice {
    border: 2px solid hotpink;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.wrapper__rock,
.wrapper__paper,
.wrapper__scissors {
    background: #606060;
    height: 160px;
    width: 160px;
    border: 2px solid #000;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px auto;
    transition: transform 0.3s ease;
}

img {
    height: 160px;
    width: 100%;
    max-width: 160px;
}

img.wrapper__img-paper,
img.wrapper__img-rock {
    padding: 10px;
}

.wrapper__rock:hover,
.wrapper__paper:hover,
.wrapper__scissors:hover {
    border: 3px solid #000;
    background: #adadad;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3);
    transform: scale(1.05)
}

/* @media (max-width: 650px) {
    .wrapper__sign-choice {
        flex-direction: column;
        align-items: center;
    }
} */

/* @media (max-width: 700px) {
    .wrapper__sign-choice {
        width: 100px;
        height: 100px;
    }
} */